{#
/**
 * @file
 * Default theme implementation of a webform example composite.
 *
 * Available variables:
 * - content: The webform example composite to be output.

 * @see template_preprocess_webform_example_composite()
 *
 * @ingroup themeable
 */
#}
{% if flexbox %}
    <div class="webform-flexbox">
      {% for item in content %}
        <div class="webform-flex"><div class="webform-flex--container">{{ item }}</div></div>
      {% endfor %}
    </div>
{% else %}
  {{ content }}
{% endif %}
